

// background colors
$primary-color: #242340;
// $primary-color: #1F1E38;
$secondary-color: #F81D39;

// text colors
$text-color: #F81D39;

//* fonts
// font-family: 'Montserrat', sans-serif;
// font-family: 'Bai Jamjuree', sans-serif;





